*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

:root {
  --font-size: 1.5rem;
  --box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.60);
  --color1: #e71d36;
  --color2: #fdfffc;
  --color3: #ebf2fa;
  --color4: #f1d302;
  --color5: #011627;
  --read-btn-color: #4dc751;
  --unread-btn-color: #f44336;
}

.header {
  background-color: var(--color1);
  border-bottom: 1px solid var(--color5);
  box-shadow: 0 3px 3px gray;
}

.header-content {
  max-width: 1200px;
  height: 100px;
  display: flex;
  padding: 5px 25px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-content > h1 {
  color: var(--color2);
  font-size: 2.5rem;
}

.btn {
  border-radius: 5px;
  border: 1px solid var(--color5);
}

.new-btn {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: var(--color4);
}

.new-btn:hover {
  text-decoration: underline var(--color1) 3px;
  cursor: pointer;
}

.bookshelf {
  max-width: 1200px;
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  gap: 30px;
  padding: 15px;
}

.book {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color3);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin: 0px 10px;
  padding: 10px;
  font-size: 1.1rem;
}

.delete-wrapper {
  height: 25px;
  width: 100%;
  margin-bottom: -25px;
  display: flex;
  justify-content: end;
}

.delete-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.title {
  overflow: hidden;
  font-size: 1.1rem;
  font-weight: bold;
}

.cover {
  height: 200px;
  max-width: 260px;
  border-radius: 3px;
}

.read-btn {
  font-size: 1rem;
  font-weight: bold;
  width: 50%;
  padding: 5px 10px;
  color: var(--color2);
  background-color: var(--read-btn-color);
}

.unread {
  background-color: var(--unread-btn-color);
}

.read-btn:hover {
  text-decoration: underline var(--color2) 2px;
  cursor: pointer;
}

.form-wrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  border-radius: 7px;
  border: 1px solid #005b88;
  box-shadow: var(--box-shadow);
  background-color: var(--color3);
  padding: 15px;
}

.error {
  display: none;
  color: var(--color1);
  font-weight: bold;
  text-align: center;
}

.book-form input {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

input:focus {
  outline: 1px solid var(--color5);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield; 
}

.book-form > div {
  margin: 0 auto;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(150, 200, 255, 0.1);
}

.footer {
  margin-top: auto;
  border-top: 1px solid var(--color5);
  padding: 10px;
  width: 100%;
  background-color: var(--color1);
  color: var(--color2);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}